<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="login-content" padding>
  <div class="login-box">
    
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Firstname" name="email" [(ngModel)]="firstname" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="text" placeholder="Surname" name="password" [(ngModel)]="surname" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Birth day" name="password" [(ngModel)]="birthday" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Username" name="password" [(ngModel)]="username" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>