page-add-event {

    .add-content{
        height: 100%;
        background: #44608c;
        #map {
            width: 100%;
            height: 50%;
        }

        #form {
            height: 50%;
        }
    }
    
}
