<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title>AddEventPage</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="add-content">
  <div #map id="map"></div> 


  <form #form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-row class="issue">
      <ion-col >
        <ion-list inset>             
          <ion-label>Description</ion-label>       
          <ion-item id="description">
              <ion-input type="text" placeholder="issue" name="issue" [(ngModel)]="issue" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
