<!--
  Generated template for the EventsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content class="events-list-content" >
    
    <ion-navbar hideBackButton = "true">
        <ion-buttons end>
            <button ion-button icon-only (click)="LogOut()">
                Log out
              </button>
        </ion-buttons>
        <ion-title>EventsListPage</ion-title>
    </ion-navbar>
  <ion-list>
      <ion-card class="event-card" *ngFor="let report of reports; let i = index">
        <ion-item>
            <ion-fab right top>
                <button ion-fab mini (click)="showDetails(report)">
                  <ion-icon name="pin"></ion-icon>
                </button>
              </ion-fab>
          <ion-item>
            <h1>{{report.issue}}</h1>        
          </ion-item>
          <ion-row>
            <ion-item>
              <ion-row >
                <ion-col>
                  Likes: {{report.likes}}
                </ion-col>                
                <ion-col>
                  Dislikes: {{report.dislikes}}
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-row>
          <!-- <ion-item>
              <ion-card-content>
                  <p>sadushdfpasdfjawepo lkasdfpoaujsjdfoij pfalsdknf klasd asd as</p>              
              </ion-card-content>          
          </ion-item> -->
        </ion-item>
      </ion-card>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="addReport()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
