page-event-details {

    .details-content{
        
        height: 100%;
        background: #44608c;
        #map {
            width: 100%;
            height: 50%;
        }
        .eventsDetail{
            
            background: #44608c;
        }
        .eventsDetail h2
        .eventsDetail p{
            display: inline; 
            vertical-align: top;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 28px;
        }

        .rating{
            width: 50%;
        }

        .actionButtons ion-row{
            text-align: center;
        }
    }
}
